@use "../../scss/variables.scss" as var;

.calculator__result {
  &-title {
    color: var.$clr-white;
  }

  &-subtitle {
    color: var.$clr-cyan-300;
  }

  &-value {
    color: var.$clr-cyan-400;
  }
}
