@use "scss/variables" as var;
@use "scss/global";

#root {
  display: flex;
  flex-direction: column;
}

@media (min-width: var.$breakpoint-desktop) {
  #root {
    justify-content: center;
    // align-items: center;
    gap: 3em;
  }
}
